a {
  text-decoration: none;
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}
button {
  outline: none;
  border: none;
}
ul, ol{
  li{
    list-style: none;
  }
}